*, html, body {
	margin:0;
	padding:0;
}
.akkordian {
	position:absolute;
	width:100%;
}
.akkord {
	float:left;
	height:300px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
/* who needs a reset? */